@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');
* {
  font-family: 'Jost', sans-serif;
}
html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
 
html::-webkit-scrollbar-thumb {
  background: #424874;
  border-radius: 25px;
}

body {
  background-color: whitesmoke;
  height: 100vh;
  margin: auto;
  color: #444444;
}
.prod_detail {
  margin: 30px;
  width: 100%;
  max-width: 900px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}
h5 {
  text-transform: uppercase;
  margin: 0;
  font-size: 14px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #bbb;
}
/*-- Sign Styles --*/
.logo {
  font-size: 25px;
  text-align: center;
  line-height: 1;
  user-select: none;
}

.logo b{
  font: 100 25px "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}
.logo b span{
  animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2){
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
.product-image {
  display: flex;
  flex-direction: column;
  align-items: center;
 /* background: linear-gradient(to bottom, #a6b1e1 0%, #64688a 100%);*/
  background-color: whitesmoke;
  border-radius: 20px 20px 0 0;
  padding: 15px 0;
  width: 100%;
  margin: auto;
}
.images{
   width:400px;
   height: auto; 
}
.img_s{
  position: relative;
  width: 90%;
  margin: 8px;
  margin-left: 90px;
}
.product-pic {
  max-width: 200px;
  position: relative;
  height: 380px;
  left: 0;
  margin: 10px 0 0 120px;
  /*filter: drop-shadow(-6px 10px 8px rgba(0, 0, 0, 0.5));*/
  border: 1px solid #30355c;
  transition: transform .2s; 
}
.product-pic:hover{
  transform: scale(1.1);
  cursor: zoom-in;
  cursor: -webkit-zoom-in;
}
.product-pic_2{
  width:26%;
  height: auto;
  margin-right: 40px;
  border: 1px solid #30355c;
  transition: transform .2s; 
}
.product-pic_3{
  width:26%;
  height: auto;
  border: 1px solid #30355c;
  transition: transform .2s; 
}
.product-pic_2:hover,.product-pic_3:hover{
  filter: blur(1px);
  cursor: pointer;
}
.product-details {
  padding: 40px;
  background-color: white;
  border-radius: 0 0 20px 20px;
}
.product-details .title {
  text-transform: uppercase;
  margin: 0;
}
.product-details .colorCat {
  text-transform: uppercase;
  color: #bbb;
  font-weight: 700;
  font-size: 14px;
}
/*modal*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 60rem;
  max-height: 33rem;
  overflow: hidden;
  border-radius: 2px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;

  font-family: "Open Sans", sans-serif;
  background: #fff;
  -webkit-box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.08);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-content-right {
  flex: 0 1 auto;
}


.modal-content-right {
  flex: 2;
  max-width: 100%;
  padding: 1rem 3rem;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@media screen and (max-width: 600px) {
  .product-pic {
    max-width: 300px;
    position: relative;
    height: 380px;
    left: 0;
    margin: 10px 0 0 80px;
    /*filter: drop-shadow(-6px 10px 8px rgba(0, 0, 0, 0.5));*/
    border: 1px solid #30355c;
    transition: transform 0.2s;
  }
}
/* The Close Button */
.close,
.close-imp {
  color: #aaa;
  font-size: 2rem;
  font-weight: bold;
  padding: 0 1rem;
  border-radius: 2px;
  transition: 0.4s ease-out;
}
.btn1{
    background: linear-gradient(to bottom, #767689 0%, #6D6D89 100%);
    color: #fff;
  transition: 0.5 all ease;
  width: 40%;
  height: 55px;
  margin: 0 4px 0 30px;
  border: 1px solid #fff;
  transition: 0.5s all ease;
  cursor: pointer;
}
.btn2{
  background: linear-gradient(to bottom, #767689 0%, #5A5AA5 100%);
  color: #fff;
  transition: 0.5 all ease;
  width: 40%;
  height: 55px;
  margin: 0 4px 0 30px;
  border: 1px solid #fff;
  transition: 0.5s all ease;
  cursor: pointer;
}
.btn1:hover,.btn2:hover{
    background: linear-gradient(to bottom, #ACACC3 0%, #767689 100%);

}
.close:hover,
.close:focus,
.close-imp:hover,
.close-imp:focus {
  color: #111;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  font-family: "Patua One", cursive;
  font-size: 3.5rem;
  margin: 0;
  padding: 0;
}

.modal-header p {
  margin: 0;
  padding: 0;
}

.modal-header,
.modal-body {
  padding: 0.5rem 3rem;
}

.modal-header {
  padding-top: 2rem;
}

.container {
  width: 100%;
}
/*end modal*/
.product-details .price {
  font-weight: 700;
  margin-top: 5px;
  font-size: 18px;
}
.product-details .price .current {
  color: #6e79ac;
  margin-left: 6px;
}
.product-details .before {
  text-decoration: line-through;
}
.product-details header {
  margin-bottom: 50px;
  position: relative;
}
.product-details article > h5 {
  margin: 0;
}
.product-details article > p {
  color: #bbb;
  margin: 0.5em 0;
  font-size: 14px;
  line-height: 1.6;
}
.product-details .controls {
  margin: 3em 0;
}
.product-details .controls > div {
  flex: 1;
}
.product-details .controls .option {
  margin-top: 12px;
  display: inline-block;
  position: relative;
}
.product-details .controls .option:hover {
  color: #444444;
}
.product-details .controls .option::before {
  content: '';
  position: absolute;
  border-width: 2px 2px 0 0;
  border-style: solid;
  top: 0;
  bottom: 0;
  height: 5px;
  width: 5px;
  right: -18px;
  margin: auto;
  transform: rotate(135deg);
}
.product-details .controls > div + div {
  margin-top: 20px;
  flex: none;
}
.product-details .controls ul {
  display: flex;
  margin: 15px 5px;
}
.product-details .rate {
  position: static;
  margin-top: 10px;
}
.product-details .rate a {
  font-size: 18px;
  color: #bbb;
  text-decoration: none;
}
.product-details .rate a.active, .product-details .rate a:hover {
  color: orange;
}
/*.dots {
  display: flex;
  margin-top: 40px;
}
.dots > button {
  background-color: #a6b1e1;
  width: 10px;
  height: 13px;
  margin: 0 4px;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: 0.5s all ease;
  cursor: pointer;
}
.dots > button.active{
  background-color: #444;
}
.dots > button:hover {
  box-shadow: 0 2px 0 2px rgba(0,0,0,.04);
}
.dots > button:focus{
  box-shadow: 0 2px 0 2px rgba(0,0,0,.04);
  background-color: #64688a;
}
.dots > button:active{
  box-shadow: 0 2px 0 2px rgba(0,0,0,.04);
  background-color: #64688a;
}
.dots i {
  display: none;
}*/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sizelist,.quantlist{
  font-size: 16px;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 70px; 
  box-sizing: border-box;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
}
.footer > .botn {
  color: #fff;
  display: flex;
  border: 0;
  padding: 14px 24px;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  background-color:  #424874;
}
.footer > .botn:hover {
  opacity: 1;

}
.footer > .botn > img {
  width: 31px;
}
.footer >.botn > span {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 10px;
  color: white;
}
.footer > a img {
  width: 24px;
  opacity: 0.8;
}
.footer > a:hover img {
  opacity: 4;
}
@media (min-width: 37.5em) {
  .product-details .rate {
    position: absolute;
    top: 12px;
    right: 10px;
    margin-top: 0;
  }
  .product-details .controls > div.qty {
    width: 60px;
  }
  .product-details .controls > div + div {
    margin-right: 280px;
    border-left: 2px solid rgba(187, 187, 187, 0.5);
    padding-left: 25px;
    padding-right: 25px;
    width: 100px;
    margin-top: 0;
  }
  .product-details .controls {
    display: flex;
  }
}
@media (min-width: 56.25em) {
  .prod_detail {
    display: flex;
    flex-direction: row;
    align-items: normal;
    margin: auto;

  }
  .product-image {
    border-radius: 20px 0 0 20px;
    max-width: 330px;
  }
  .product-pic {
    left: -40px;
    max-width: 330px;
  }
  .product-details {
    width: 100%;
    border-radius: 0 20px 20px 0;
  }
}
